@font-face {
    font-family: 'thewitchermedium';
    src: url('/assets/font/thewitcher-jnoj-webfont.woff2') format('woff2'),
         url('/assets/font/thewitcher-jnoj-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.ff-tw{
    font-family: 'thewitchermedium';
}
body{
    background: #010409;
}
.w-95{
    width: 95%;
}
.w-90{
    width: 90%;
}
.h-50px{
    height: 50px;
}
.w-40{
    width: 40%;
}
.h35{
    height: 35%;
}
.logo{
    width: 50px;
    height: 50px;
}
.my-50{
    margin-top: 200px;
    margin-bottom: 200px;
}
.top-25{
    top: 25%;
}
.top-55{
    top: 55%;
}
.top-15{
    top: 15%
}
.top-65{
    top: 65%
}
.bottom-10{
    bottom: 10%;
}
.pt-200{
    padding-top: 200px;
    padding-bottom: 200px;
}
.bg-op{
    background: rgba(69, 61, 61, 0.51);
}
.ft{
    font-size: 12px;
}
.background{
    background: no-repeat center url("assets/img/peakpx.jpg");
    background-size: cover;
    height: 100vh;
}
.containers{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
}
.img-box{
    height: 500px;
    background: var(--img) center;
    background-size: cover;
    flex-basis: 260px;
    position: relative;
    transition: 400ms all ease;
    filter: grayscale(100%) opacity(35%);
}
.img-box:hover{
    flex-basis: 300px;
    filter: grayscale(0%) opacity(100%);
    display: block;
}
.desc{
    display: none;
}
.img-box:hover .desc{
    display: block;
}
.neonText {
  color: #fff;
  text-shadow:
      0 0 7px #ed5151,
      0 0 10px #ed5151,
      0 0 21px #ed5151,
      0 0 42px #920303,
      0 0 82px #920303,
      0 0 92px #920303,
      0 0 102px #920303,
      0 0 151px #920303;
}
.btn-red{
    background:#920303;
}

.list-group-item {
    background-color: #fff0  !important;
}